.vs/HeptaAPI/v15/ipch/AutoPCH/c3bc6ab32296845e/SELECTSCENE.ipch
.vs/HeptaAPI/v15/ipch/AutoPCH/c2c150a70cbd65f8/GAMESCENE.ipch
.vs/HeptaAPI/v15/ipch/AutoPCH/60c22d74cfc6aca9/PLAYGROUND.ipch
.vs/HeptaAPI/v15/ipch/AutoPCH/476243a2a400cf3b/MARIO.ipch
.vs/HeptaAPI/v15/ipch/AutoPCH/39e0eec9ccea1888/MARIO.ipch
.vs/HeptaAPI/v15/Browse.VC.opendb
.vs/HeptaAPI/v15/Browse.VC.db
.vs/HeptaAPI/v15/.suo
